<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="/" method="get">
            <h3 type="text" name="title"><%= posts[0].title %><h3/>
                <p name="text" cols="50" rows="5">Text: <%= posts[0].text %></p>
        
            <input type="submit" value="go home">
        </form>
</body>
</html>